/* mobile view */
@media screen and (max-width: 600px) {
     header {
        margin: 15px;
    }

    .nav-section{
        justify-content: space-between;
    }

    nav img{
        width: 34px;
        height: 28px;
    }

    .nav-container{
        font-size: 1.5rem;
    }

    nav .items-container {
        display: none;
    }

    .menubar {
        display: block;
    }
    /* banner section */
    .banner{
        width: 400px;
        height: 480px;
        margin: 0 auto;
        margin-top: 10px;
    }
    .banner-section{
        padding: 40px;
    }
    .banner-title{
        font-size: 1.5rem;
    }
    .form-section{
        font-size: 2rem;
        width: 220px;
        height: 240px;
        margin: 0 auto;
        padding: 0;
        margin-bottom: 0;
    }
    
    form input,
    select,
    button {
        width: 95%;
    }
}