/* mobile view */
@media screen and (max-width: 600px) {
     header {
        margin: 15px;
    }
    
    .nav-section{
        justify-content: space-between;
    }

    nav img{
        width: 34px;
        height: 28px;
    }

    .nav-container{
        font-size: 1.5rem;
    }

    nav .items-container {
        display: none;
    }

    .menubar {
        display: block;
    }
    /* banner section */
    .banner{
        width: 400px;
        height: 480px;
        margin: 0 auto;
        margin-top: 10px;
    }
    .banner-section{
        padding: 40px;
    }
    .banner-title{
        font-size: 1.5rem;
    }
    .form-section{
        font-size: 2rem;
        width: 220px;
        height: 240px;
        margin: 0 auto;
        padding: 0;
        margin-bottom: 0;
    }

    form input,
    select,
    button {
        width: 95%;
    }
    /* section no one */
    .section-no-one{
        flex-direction: column;
        margin: 10px;
        gap: 0;
    }
    .section-no-one img{
        width: 400px;
        height: 380px;
        margin-left: 5px;
    }
    .section-title{
        font-size: 1.2rem;
        margin-left: 5px;
        margin-top: 20px;
    }
    .section-description{
        font-size: 0.8rem;
        width: 400px;
        margin-left: 5px;
    }
    section .btn-primary{
        width: 150px;
        padding: 10px;
        margin-bottom: 20px;
        margin-left: 5px;
    }
    /* section no two */

    /* .section-no-two{
        width:;
    } */
    .destination{
        width: 80%;
        position: relative;
        left: 32px;
    }
    .image-content {
        grid-template-rows: repeat(6, 1fr);
        justify-content: center;
        align-items: center;
        padding: 0 10px;
    }

    .img {
        margin-left: 15px;
        font-size: 1.5rem;
        padding: 10px;
        position: relative;
        right: 10px;
    }

    .place-name {
        padding: 80px;

    }

    #img-1 {
        grid-row: 1;
        grid-column: span 1;
    }

    #img-2 {
        grid-row: 2;
        grid-column: span 1;
    }

    #img-3 {
        grid-row: 3;
        grid-column: span 1;
    }

    #img-4 {
        grid-row: 4;
        grid-column: span 1;
    }

    #img-5 {
        grid-row: 5;
        grid-column: span 1;
        transform: scaleX(1);
        position: relative;
        right: 0px;
    }

    #img-6 {
        grid-row: 6;
        grid-column: span 1;
    }

    #img-7 {
        grid-row: 7;
        grid-column: span 1;
    }
    /* section three */
    .two-quality{
        flex-direction: column;
        margin: 0 auto;
        width: 380px;
    }
    #third{
        width: 340px;
    }
    /* SECTION four*/
    .perfect-place{
        flex-direction: column;
        margin: 10px 0;
    }
    .vedio-content{
        transform: scale(0.7);
    }
    .section-titles{
        width: 400px;
        position: relative;
        right: 80px;
        font-size: 1.4rem;
    }
    .text-descriptions{
        width: 350px;
        position: relative;
        right: 80px;
        font-size: 1rem;
    }
    .perfect-place li{
        width: 350px;
        position: relative;
        right: 80px;
        font-size: 1rem;
    }
    /* five */
    .news-letter{
        flex-direction: column;
        transform: scale(0.7);
        margin: 0;
        gap: 20px;
    }
    .discound-img{
        width: 200%;
        position: relative;
        right: 30px;
        margin-bottom: 0;
    }
    .discount-ad{
        height: 230px;
    }
    .news-letter{
        margin: 0 auto;
        padding: 0 auto;
    }
    .news-letter-box{
        margin-top: 0;
    }
/* footer */
.footer-container{
    margin-top: 0;
}
}